/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --blue-950: hsl(240, 38%, 20%);
  --gray-400: hsl(240, 18%, 77%);
  /* # TYPOGRAPHY # */
  --ff-inter: "Inter", sans-serif;
  --fw-300: 300;
  --fw-500: 500;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

picture,
img,
svg {
  max-width: 100%;
  display: block;
}

/* ### UTILITY CLASSES ### */

.text-dark {
  color: var(--blue-950);
}

.text-light {
  color: var(--gray-400);
}

.hide {
  display: none;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-inter);
  font-weight: var(--fw-300);
  background-image: url(./images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  /* display: flex;
  align-items: center; */
  min-height: 100vh;
  /* background-color: deeppink; */
}

/* main {
  min-height: 624px;
} */

h2 {
  font-weight: var(--fw-700);
}

p {
  font-weight: var(--fw-500);
}

blockquote {
  color: #37354a;
}

/* ### TESTIMONIALS ### */

.testimonials-container {
  margin-top: 2.5rem;
  width: 85%;
  margin-inline: auto;
  /* border: 3px solid deeppink; */
  /* display: flex; */
  overflow-x: auto;
}

.testimonial {
  flex-shrink: 0;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-areas: "img" "content";
}

.testimonial__content {
  grid-area: content;
  display: grid;
  gap: 1.2rem;
  grid-template-areas: "quote" "info";
  text-align: center;
}

.testimonial__img {
  grid-area: img;
  padding: 2rem;
  position: relative;
  background-image: url(./images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;

  margin-inline: auto;
}

.testimonial__img .img-container {
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0px 20px 20px rgba(73, 64, 102, 0.222);
  max-width: 540px;
}

.testimonial__content blockquote {
  grid-area: quote;
  font-size: clamp(1.1rem, 0.8535rem + 1.0516vw, 1.8rem);
  max-width: 31ch;
  margin-inline: auto;
  position: relative;
  line-height: 1.3;
}

.testimonial__content blockquote::before {
  position: absolute;
  content: "";
  display: block;
  width: 70px;
  height: 50px;
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial__content .testimonial-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.testimonial__content h2 {
  font-size: 0.975rem;
}

.testimonial__content p {
  font-size: 0.925rem;
}

.arrows-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  gap: 2rem;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 200px;
  box-shadow: 0px 15px 20px rgba(73, 64, 102, 0.222);
}

.arrows-container > * {
  flex-shrink: 0;
  width: 10px;
}

.arrows-container button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 38em) {
  body {
    background-size: auto;
  }
}

@media (min-width: 55em) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonial {
    grid-template-areas: "content img";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
  }

  .testimonial__content {
    text-align: start;
    position: absolute;
    right: -163px;
    z-index: 2;
    gap: 2rem;
  }

  .testimonial__content blockquote {
    margin-inline: unset;
  }

  .testimonial__content blockquote::before {
    width: 90px;
    height: 70px;
    left: 71px;
    transform: unset;
    top: -40px;
  }

  .testimonial__content .testimonial-info {
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
  }

  .testimonial__img {
    padding: 4rem;
  }

  .arrows-container {
    transform: unset;
    left: 105px;
    bottom: 40px;
  }

  /* .testimonial__img {
    box-sizing: content-box;
  } */
}
